<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matters by Clio Test</title>    

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
  </head>
  <body ng-app="MattersClioTestApp"  ng-controller="MatterListController">
    
   <div class="header">
      <div class="container">
        <div class="row">
          <div>
            <h1>Matters by Clio Test</h1>
            <input type="text" name="group" list="groups" ng-model="SelectedGroup">
              <datalist id="groups" > 
                <option ng-repeat="client_group in mattersByClient" value="{{ client_group.client_name }}">
              </datalist>
            </select>

            <input type="text" id="query" ng-model="query" placeholder="Filter by Keyword">
            <input type="checkbox" ng-model="enableClosedFilter"> Hide closed matters
          </div>
        </div>
      </div>
    </div>


    <div class="posts">

    <div ng-show="viewing" style='width:200px;float:right;'>
      <h2>{{ viewing.number }} <span style="color:#f33"> {{ viewing.status }}</span></h2>
      <p>{{ viewing.description }}</p>
    </div>


      <div class="container">
        <input type="checkbox" ng-click="checkAll()">
        Select All
        <div class="group" ng-repeat="client_group in mattersByClient | filter:SelectedGroup">    
          <h3 ng-if="client_group.matters.length > 0">{{ client_group.client_name}}</h3>

          <div class="post" ng-click="viewMatter(matter)" ng-repeat="matter in client_group.matters | isOpen:enableClosedFilter | filter:query">

            <matter-post item="matter" list="client_group.matters"></matter-post>

          </div>
        </div>

      </div>


    </div>



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.
js"></script>
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MattersListController.js"></script>

    <!-- Directives -->
    <script src="js/directives/matterPost.js"></script>
    
    <!-- Filters -->
    <script src="js/filters.js"></script>






  </body>
</html>
